* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #f3f4ed;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  color: black;
  text-align: left;
}

.right {
  background-color: #f3f4ed;
  float: left;
  width: 30%;
  padding: 15px;
  margin-top: 7px;
  margin-left: 15px;
  text-align: right;
  color:black;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
.container, .container1 { 
  width:845px; 
  margin: 0px auto;
  background-color:#f3f4ed;
}

.grid-container {
    margin-left: 20px; 
    align-self: center; 
    margin-top: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px;
}
#body {
    background-color:#536162;
}

#header { 
  height:300px; 
  background:url("screenshotMM.png") #424642;
 }
 #h1 {
   color: #f3f4ed;
   font-size:90px;
   text-align:left;
 }
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}


.linkedin{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

